
<%if (typeof(success)!="undefined" && success.length){%>
<div class="alert-message block-message success">
	<h3>Tu perfil ha sido modificado satisfactoriamente</h3>
	<p>Move on!</p>

</div>
<%} else if (error){%>
<div class="alert-message block-message error">
	<h3>Ha ocurrido un error, por favor revisa los datos introducidos</h3>
	<p>Encontrarás más información sobre cada error en color rojo junto a cada campo requerido</p>
</div>
<%} else {%>
	<div class="alert-message block-message warning">
		<h3>
			Hola <%= user.name %>
	    </h3>
	    <p>Crea o edita tu perfil CachiruloValley. Tus datos no serán cedidos a terceras partes. Te pedimos los mínimos datos para
		completar tu perfil.
		</p>
	</div>
<%}%>

<form action="/editprofile?id=<%=user.id || ''%>" method="post" class="editprofile">
	<div class="row">
		<div class="span8">
			<div class="general">
				<h3>1. Datos generales</h3>
				<% if (user.image) {%>
				<div class="clearfix">
					<div class="input">
						<img src="<%=user.image%>"/>
						<span class="descr">Este directorio usa la imagen de tu perfil de LinkedIn</span>
					</div>
				</div>
				<% }%>	
				
				<div class="clearfix">
					<label>Nombre (*):</label> 
					<div class="input">
						<input type="text" name="name" value="<%=user.name || "" %>">
						<%-partial ('partial/display_error', {error: validation_errors['name'] })%>
					</div>
				</div>

				<div class="clearfix">
					<label>Bio (*):</label> 
					<div class="input">
						<textarea placeholder="something about you" name="bio"><%=user.bio || ""%></textarea>
						<%-partial ('partial/display_error', {error: validation_errors['bio'] })%>
					</div>
				</div>

				<div class="clearfix">
					<label>Email (*):</label> 
					<div class="input">
						<input type="text" name="email" placeholder="your email address" value="<%=user.email || ""%>">
						<%-partial ('partial/display_error', {error: validation_errors['email'] })%>
					</div>
				</div>

				<div class="clearfix">
					<label>Web site:</label> 
					<div class="input">
						<input type="text" name="web" placeholder="http://yoursite.com" value="<%=user.web || ""%>">
						<%-partial ('partial/display_error', {error: validation_errors['web'] })%>
					</div>
				</div>

				<div class="clearfix">
					<label>Twitter:</label> 
					<div class="input">
						<input type="text" name="twitter" value="<%=user.twitter || ""%>">
					</div>
				</div>

				<div class="clearfix">
					<label>Github:</label> 
					<div class="input">
						<input type="text" name="github" value="<%=user.github || ""%>">
						<%-partial ('partial/display_error', {error: validation_errors['github'] })%>
					</div>
				</div>

				<div class="clearfix">
					<label>Región (*):</label> 
					<div class="input">
						<select name="region">
							<option value="">-- Elige tu región --</option>
							<%for (r=0;r<regions.length;r++){%>
								<option value="<%=regions[r].value%>"<%if (regions[r].value==user.region){%> selected <%}%>><%=regions[r].name%></option>
							<%}%>
						</select>
						<%-partial ('partial/display_error', {error: validation_errors['region'] })%>
					</div>
				</div>

				<div class="clearfix">
					<label>Localidad (*):</label> 
					<div class="input">
						<input type="text" name="location" value="<%=user.location || ""%>">
						<%-partial ('partial/display_error', {error: validation_errors['location'] })%>
					</div>
				</div>
			</div>
			
			<h3>2. Portfolio</h3>
			<p>Puedes introducir aquí hasta 5 direcciones de proyectos que hayas creado o en los que hayas participado, así como una descripción de los mismos.</p>
			<div class="portfolio">
				<%
				if (!user.portfolio)
					user.portfolio =[]

				for (var i=0;i<number_portfolio_urls;i++){
					if (!user.portfolio[i])
						user.portfolio[i] = {}
				%>
				
				<div class="item">
					<label>url <%=(i+1)%>) </label> 
					<div class="input">
						<input placeholder="http://mysite.com" type="text" id="portfolio_url<%=i%>" name="portfolio_url<%=i%>" value="<%= user.portfolio[i].url || "" %>">
						<%-partial ('partial/display_error', {error: validation_errors['portfolio_url' + i] })%>
						<textarea type="text" placeholder="Descripción de este trabajo" id="portfolio_descr<%=i%>" name="portfolio_descr<%=i%>"><%= user.portfolio[i].descr || "" %></textarea>
						<%-partial ('partial/display_error', {error: validation_errors['portfolio_descr' + i] })%>
					</div>
				</div>
				<%}%>
			</div>
		</div>
		<div class="span8 cats">
			<h3>Categorías o grupos profesionales</h3>
			<p>¿En qué grupos o categorías te incluirías? (máx 3)</p>
			<ul>

			<%for (var c=0, len_cat = categories_available.length; c < len_cat; c++){
				var exists = false;
				if (user.cats){
					for (k=0, k_len = user.cats.length; k < k_len; k++){
						if (user.cats[k]==categories_available[c].id)
							exists=true
					}
				}
				if (exists){
				%>
					<li><input type="checkbox" checked="checked" name="categories_available" value="<%=categories_available[c].id%>"> <%=categories_available[c].name%></li>
				<%	
				}
				else{
				%>
					<li><input type="checkbox" name="categories_available" value="<%=categories_available[c].id%>"> <%=categories_available[c].name%></li>
				<%
				}
			}
			%>
			</ul>
			<%-partial ('partial/display_error', {error: validation_errors['cats'] })%>

			<h3>Especialidades</h3>
			<div class="tags">
				<p>Añade tus especialidades (máx 15) tags</p>
				<input type="text" id="tags_input" name="tags" value="<%=user.tags || ""%>" placeholder="php, node.js, marketing, etc.">
				<%-partial ('partial/display_error', {error: validation_errors['tags'] })%>
			</div>

			<%
			if (!user.other_data)
				user.other_data = {}
			%>
			<h3>Otros datos</h3>
			<p>
				Estoy abierto/interesado en propuestas de negocio / creación de empresas
				<ul>
					<li><input type="checkbox" name="vc_partner" value="true" <%if (user.other_data.vc_partner) {%>checked="checked" <%}%>> como socio capitalista 
					<li><input type="checkbox" name="tech_partner" value="true" <%if (user.other_data.tech_partner) {%>checked="checked" <%}%>> como socio técnico
					<li><input type="checkbox" name="business_partner" value="true" <%if (user.other_data.business_partner) {%>checked="checked" <%}%>> como socio de negocio
				</ul>
			</p>
			<p>
				<input type="checkbox" name="entrepreneur" value="true" <%if (user.other_data.entrepreneur) {%>checked="checked" <%}%>> Tengo experiencia montando empresas
			</p>
			<p>
				<input type="checkbox" name="freelance" value="true" <%if (user.other_data.freelance) {%>checked="checked" <%}%>> Soy autónomo
			</p>
			<p>
				<input type="checkbox" name="looking_for_contracts" value="true" <%if (user.other_data.looking_for_contracts) {%>checked="checked" <%}%>> Disponible para trabajar como freelance
			</p>			
		</div>
	</div>
	<div class="actions">
		<input type="submit" class="btn primary" value="Guardar datos y crear / modificar perfil">
	</div>
</form>
