<div class="row">
	<div class="span3">
		<h3>Categorías</h3>
		<%-partial ('partial/listcategories', {categories : categories})%>
		<br style="clear:both">
		<h3>Filtros</h3>
		<div class="filterBox">
			<div class="region_scope">
				<input type="radio" name="region_scope" id="regional_scope"> 
				<label rel="popover" title="Profesionales aragoneses" data-content="Seleccionando esta opción sólamente se mostrarán profesionales que se hayan registrado como aragoneses" for="regional_scope">Aragoneses</label>
			 	
				<br />
				<input type="radio" name="region_scope" id="national_scope" >
				<label rel="popover" title="Profesionales residentes en España" data-content="Seleccionando esta opción sólamente se mostrarán profesionales que se hayan registrado como residentes en España" for="national_scope">España</label>
				<br />
				<input type="radio" name="region_scope" id="worldwide_scope" checked="checked"> 
				<label rel="popover" title="Todos" data-content="Seleccionando esta opción se mostrarán todos los profesionales" for="worldwide_scope">Todos</label>
			</div>
			<div class="otherdata_scope">
				<input type="checkbox" name="freelance" id="freelance_scope" value="freelance"> 
				<label rel="popover" title="Autónomos" data-content="Seleccionando esta opción se mostrarán los profesionales registrados como 'áutonomos'" for="freelance_scope">Autónomos</label>
				<br />
				<input type="checkbox" name="entrepreneur" id="entrepreneur_scope" value="freelance"> 
				<label rel="popover" title="Emprendedores" data-content="Seleccionando esta opción se mostrarán los profesionales que hayan seleccionado en su perfil que tienen interés en crear una empresa en el corto o medio plazo" for="entrepreneur_scope">Emprendedores</label>
			</div>
		</div>
		
		<h4>Iniciativa:</h4>
		<a href="http://www.cachirulovalley.com">
			<img class="logo" src="/images/logo.jpg" alt="Cachirulo Valley">
		</a>
	</div>
	
	<div class="span10">
		<div data-bind='template: {name:"filterTemplate", foreach: filter}'></div>
		<div class="professionals_list">
			<ul id="professionals" data-bind='template: {name:"professionalTemplate", foreach: professionals}'></ul>
		</div>

		<div class="profile" style="display:none" data-bind='template: {name:"profileTemplate", foreach: profile}'></div>	
	</div>

	<div class="tags span3">
		<h3 data-bind='text: tag_title'>Especialidades</h3>
		<ul id="tags" data-bind='template: {name:"tagsTemplate", foreach: tagslist}'>
		</ul>
		<div class="tag_explanation" data-bind='text: tag_explanation'></div>
	</div>
</div>

<%for(var i=0;i<users.length;i++){%>
	<a href="/user/<%=users[i].id%>/<%=users[i].name%>"><%=users[i].name%></a>
<%}%>

<!--templates-->
<script id='tagsTemplate' type="text/x-jquery-tmpl">
    <li><a tag="${name}" rel="address:/tags/${safe_name}" href="/tag/${safe_name}/users">${name}</a></li>
</script>

<script id='filterTemplate' type="text/x-jquery-tmpl">
<span class="filteritem">
	<span class="name">${name}</span> 
	{{if (value)}}
		<span class="value">${value}</span>
	{{/if}}
</span>
</script>

<script id='profileTemplate' type="text/x-jquery-tmpl">
	<span class="voteBox">
		{{if (votes)}}
			<span class="beer" rel="popover" title="${votes} recomendaciones" 
			data-placement="left" 
			data-content="&lt;img class=beer_popup src=/images/beer-badget.png /&gt;${name} tiene &lt;strong&gt;${votes} recomendaciones.&lt;/strong&gt; &lt;br/&gt;&lt;br/&gt;Puedes votar a los profesionales que recomiendas. &lt;br/&gt;&lt;br/&gt;Los votos son anónimos, simplemente se publica el número de los mismos">
				<span>
				${votes}
				</span>
				<img src="/images/beer-badget.png" />
			</span>
		{{/if}}
		<%if (user) {%>
			{{if (id != '<%=user.id%>')}}
				{{if (voted)}}
					<a class="vote" href="/vote" vote="-1" idProfile="${id}">Dejar de Recomendar</a>
				{{else}}
					<a class="vote" href="/vote" vote="1" idProfile="${id}">Recomendar</a>
				{{/if}}
			{{/if}}
		<%}else {%>
			<small>
			 	<a href="/login" rel="popover" title="Regístrate o inicia sesión" 
				data-content="Es necesario registrarse para poder votar. <br />Puedes votar a los profesionales que recomiendas. Los votos son anónimos. Simplemente se publica el número de los mismos">Inicia sesión para votar</a>
			</small>
		<%}%>
	</span>

	<h2>${name}</h2>
	<img src="${image}"/>
	<span class="bio">${bio}</span>
	<br />
	<span class="location">
	${location}  (${region_display})
	</span>
	
	<div class="clearfix"></div>
	
	<h3>Información de contacto</h3>
	
	<ul>
	{{if (linkedin_profile_url)}}
	<li>linkedin profile: <a target="_blank" href="${linkedin_profile_url}">${linkedin_profile_url}</a></li>
	{{/if}}
	{{if (web)}}
	<li>web: <a target="_blank" href="${web}">${web}</a></li>
	{{/if}}
	
	</ul>

	{{if (other_data && (other_data.entrepreneur || other_data.freelance || other_data.looking_for_contracts))}}
	<h3>Más cosas sobre mi</h3>
	<div>
	   <ul>
	   {{if other_data.entrepreneur}}
		 <li>Me considero emprendedor. Estoy interesado en crear empresas a corto plazo.</li>
	   {{/if}}

	   {{if other_data.freelance}}
		 <li>Soy un profesional dado de alta como autónomo.</li>
	   {{/if}}

	   {{if other_data.looking_for_contracts}}
		 <li>Busco proyectos como freelance</li>
	   {{/if}}
		</ul>
	</div>
	{{/if}}

	{{if portfolio.length}}
	<h3>Portfolio</h3>
	<div class="portfolio">
	<ul>
	 {{each portfolio}}
		<li><a title="${$value.descr}" href="${$value.url}">${$value.url} </a></li>
	 {{/each}}
	</ul>
	<span class="descr"></span>
	{{/if}}	
	</div>

	{{if twitter}}
	<h3>Últimos tweets: <small><a target="_blank" href="http://www.twitter.com/${twitter}">@${twitter}</a></small></h3>
	<div class="twitter" id="tw_timeline"></div>
	{{/if}}

	{{if github}}
	<h3>Github: <small><a target="_blank" href="https://github.com/${github}">${github}</a></small></h3>
	<div class="twitter" id="github_projects"></div>
	{{/if}}

</script>

<script id='professionalTemplate' type="text/x-jquery-tmpl">
    <li>
		<div class="short">
			<a rel="address:/user/${id}/${encodeURIComponent(name)}" class="viewprofile" idProfile="${id}" href="/user/${id}/${name}">${name}</a>
			<img src="${image}"/>
			<span class="bio">${bio}</span>
			(<span class="location">${location}</span>)
			{{if (votes)}}
				<span class="votes">
					<span>${votes}</span> recomendaciones
				</span>
			{{/if}}
		</div>
    </li>
</script>