<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<%-partial ('partial/header_includes')%>
  </head>
  <body class="home">	
	<div class="topbar">
		<div class="fill">
			<div class="container fixed">
				<h3><a href="/">Cachirulo directory</a></h3>
				<ul class="secondary-nav">
					<li>
						<%-partial ('partial/salutation',{user:user})%>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container body">
    <%- body %>
	</div>

	<%-partial ('partial/js_includes')%>
	<script src="/javascripts/jquery.tagsinput.js"></script>
	<script>
	$(document).ready(function () { 
		tags_initial_offset = $('.tags').offset();

		$('#tags_input').tagsInput({
		  autocomplete_url: '/api/tagsautocomplete'
		});
	});	
	
	</script
  </body>
</html>