<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<%-partial ('partial/header_includes')%>
  </head>
  <body>
	<div class="topbar">
		<div class="fill">
			<div class="container fixed">
				<h3><a href="/">Cachirulo directory</a></h3>
				<ul class="nav">
					<li><a href="/editprofile">alta/modificar perfil</a></li>
					<li><a id="what" href="#">?</a></li>
				</ul>
				<ul class="secondary-nav">
					<li>
						<img id="loading" src="images/ajax-loader.gif" alt="loading...">
						<input id="searchBox" type="text" placeholder="Search professionals">
					</li>
					<li>
						<%-partial ('partial/salutation',{user:user})%>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="wrapper">
		<div class="alert-message warning what">
		  <p>
			Directorio Cachirulo Valley (explanation here)
		  </p>
		</div>

		<div class="container body">
	    <%- body %>
		</div>
	</div>
	<%-partial ('partial/js_includes')%>
  </body>
</html>