<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<%-partial ('partial/header_includes')%>
  </head>
  <body>
	<div class="topbar">
		<div class="fill">
			<div class="container fixed">
				<h3><a href="/directory">Cachirulo directory</a></h3>
				<ul class="nav">
					<li><a class="editprofile" href="/editprofile">alta/modificar perfil</a></li>
				</ul>
				<ul class="secondary-nav">
					<li>
						<img id="loading" src="images/ajax-loader.gif" alt="loading...">
						<input id="searchBox" name="searchBox" type="text" placeholder="Buscar">
						<%-partial ('partial/salutation',{user:user})%>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="wrapper">
		<div class="container body">
	    <%- body %>
		</div>
		<footer class="footer">
			Desarrollado por el equipo de <a href="http://www.cachirulovalley.com" target="_blank">CachiruloValley</a> 
			/ <a href="https://github.com/iloire/cachirulovalleydirectory" target="_blank">Código fuente disponible en Github</a>
			/ <a href="/about">¿Qué es esto?</a>
		</footer>
	</div>
	<%-partial ('partial/js_includes')%>

	<!-- user voice -->
	<script type="text/javascript">
	  var uvOptions = {};
	  (function() {
	    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/8qHaN8VuLFTGzIi9C9g.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
	  })();
	</script>	
  </body>
</html>